In [1]:
pip install nltk

Requirement already satisfied: nltk in c:\users\srava\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: click in c:\users\srava\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: regex>=2021.8.3 in c:\users\srava\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: joblib in c:\users\srava\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: tqdm in c:\users\srava\anaconda3\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: colorama in c:\users\srava\anaconda3\lib\site-packages (from click->nltk) (0.4.5)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# import libraries
import nltk
import pandas as pd

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\SRAVA\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

# import datasets

In [4]:
false = pd.read_csv("Fake.csv")
real = pd.read_csv("True.csv")

In [5]:
false

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [6]:
real

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [7]:
false["fact"]=0
real["fact"]=1

In [8]:
data = pd.concat([false,real], axis=0)

In [9]:
data

,title,text,subject,date,fact
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [10]:
data=data.reset_index(drop=True)
data=data.drop(["title","subject","date"],axis=1)

# Data Preprocessing

In [11]:
#Tokenization
from nltk.tokenize import word_tokenize
data['text']= data['text'].apply(word_tokenize)

In [12]:
#stemming
from nltk.stem.snowball import SnowballStemmer
sbs= SnowballStemmer('english',ignore_stopwords=False)

In [13]:
def stem_it(text):
    return [sbs.stem(word) for word in text]

In [14]:
data['text']= data['text'].apply(stem_it)

In [15]:
def stopword_remover(text):
    return [word for word in text if len(word)>>2]

In [16]:
data['text']= data['text'].apply(' '.join)
data

                                                    text  fact
0      donald trump just couldn t wish all american a...     0
1      hous intellig committe chairman devin nune is ...     0
2      on friday , it was reveal that former milwauke...     0
3      on christma day , donald trump announc that he...     0
4      pope franci use his annual christma day messag...     0
...                                                  ...   ...
44893  brussel ( reuter ) - nato alli on tuesday welc...     1
44894  london ( reuter ) - lexisnexi , a provid of le...     1
44895  minsk ( reuter ) - in the shadow of disus sovi...     1
44896  moscow ( reuter ) - vatican secretari of state...     1
44897  jakarta ( reuter ) - indonesia will buy 11 suk...     1

[44898 rows x 2 columns]

# Splitting data set

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(data['text'],
                                                    data['fact'], test_size=0.25)

In [19]:
X_train

18800    the set for this episod is yale univers , a ca...
25181    los angel ( reuter ) - the emmi award show was...
28475    washington ( reuter ) - u.s. repres steve king...
18585    a georgia middl school scienc teacher and a pa...
36107    pari ( reuter ) - french presid emmanuel macro...
                               ...
33736    ( reuter ) - demonstr briefli shut down an ari...
14631    so far , the suprem court has not prevent one ...
40427    brussel ( reuter ) - european commiss presid j...
5494     this is whi we love the notori rbg.suprem cour...
29679    washington ( reuter ) - short after donald tru...
Name: text, Length: 33673, dtype: object

# Vectorization (TFIDF)

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf= TfidfVectorizer(max_df=0.7)
tfidf_train=tfidf.fit_transform(X_train)
tfidf_test=tfidf.transform(X_test)

In [21]:
from sklearn.linear_model import LogisticRegression
mdl1=LogisticRegression(max_iter=900)
mdl1.fit(tfidf_train,y_train)

LogisticRegression(max_iter=900)

In [22]:
y_test

24766    1
3040     0
39170    1
20166    0
5475     0
        ..
33513    1
11815    0
890      0
7332     0
36172    1
Name: fact, Length: 11225, dtype: int64

In [23]:
pred1=mdl1.predict(tfidf_test)
pred1

array([1, 0, 1, ..., 0, 0, 1], dtype=int64)

In [24]:
from sklearn.metrics import confusion_matrix, accuracy_score
sc1=accuracy_score(y_test,pred1)
sc1

0.987706013363029

In [25]:
from sklearn.metrics import classification_report
print("Confusion Matrix: ",confusion_matrix(y_test, pred1))
print ("Accuracy : ",accuracy_score(y_test,pred1)*100)
print("Report : ",classification_report(y_test,pred1))

Confusion Matrix:  [[5792   84]
 [  54 5295]]
Accuracy :  98.7706013363029
Report :                precision    recall  f1-score   support

           0       0.99      0.99      0.99      5876
           1       0.98      0.99      0.99      5349

    accuracy                           0.99     11225
   macro avg       0.99      0.99      0.99     11225
weighted avg       0.99      0.99      0.99     11225

In [26]:
from sklearn.linear_model import PassiveAggressiveClassifier
mdl2=PassiveAggressiveClassifier(max_iter=100)
mdl2.fit(tfidf_train,y_train)

PassiveAggressiveClassifier(max_iter=100)

In [27]:
pred2=mdl2.predict(tfidf_test)
pred2

array([1, 0, 1, ..., 0, 0, 1], dtype=int64)

In [28]:
sc2=accuracy_score(y_test,pred2)
sc2

0.9956347438752784